# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Model (too large for GitHub)
backend/model/orange_disease_cnn.h5
backend/model/class_indices.json
backend/uploads/

# Node
node_modules/
dist/
.DS_Store

# Dataset (too large)
dataset/
raw/